{% extends 'glowny.html'%}
{% block tytul%}List of films{% endblock %}

{% block strona %}
<a href="{% url 'nowy_film' %}">Add new film</a>
{%  if filmy|length == 0 %}
<h2>Brak filmów</h2>
{% else %}
<h2>Numbers of films: {{ filmy|length }}</h2>

{% for film in filmy%}
<div class="card" style="width: 65rem;">
    <div class="card-body">
        <h5 class="card-title">{{ film }}</h5>
        <p class="card-text">{{ film.opis}}</p>
        <a href="{% url 'edytuj_film' film.id %}"><i class="fa-solid fa-2x fa-file-pen"></i></a>
        <a href="{% url 'usun_film' film.id %}"><i class="fa-solid fa-2x fa-trash"></i></a>
    </div>
</div>
{% endfor %}
{%  endif %}
{% endblock %}
